#modalContent {
  width: 450px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 96px #000;
  transition: 0.5s all ease-in-out;
  padding: 20px;
}

#modalContent input, #modalContent textarea, #modalContent select {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  padding: 8px;
  box-shadow: 0 0 3px #ccc;
  margin: 10px 0 15px;
  border-radius: 5px;
  transition: 0.5s linear;
}

#modalContent select {
  opacity: 0.6;
}

#modalContent input:focus, #modalContent textarea:focus, #modalContent select:focus {
  box-shadow: inset 0 0 8px #ddd;
}

#modalContent input[type="submit"] {
  width: 80px;
  cursor: pointer;
  background: mediumseagreen;
  color: white;
  text-transform: uppercase;
}

#modalContent input[type="submit"]:hover {
  background-color: limegreen;
}

#previewImage {
  width: 100px;
  height: 100px;
}

.blog-container {
  width: 600px;
  height: auto;
  box-shadow: 0 0 5px #748585;
  margin: 0 auto;
  padding: 10px;
}

.blog-header h2 {
  text-transform: uppercase;
  text-align: center;
}

.blogs {
  margin-bottom: 15px;
}

.blogs .about-blog {
  width: 400px;
  font-size: 25px;
}

.blog-actions button {
  padding: 5px 13px;
  outline: none;
  font-size: 1.4em;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background: #1e1e1e;
  box-shadow: 0 0 2px #ccc;
  cursor: pointer;
  transition: 0.5s linear;
  width: 100px;
  margin-top: 20px;
  color: #698585;
}

.blog-actions button:hover {
  box-shadow: 0 0 5px #ccc;
  color: wheat;
}

.blog-actions button:nth-child(2):hover {
  color: darkred;
}

.description {
  margin-top: 20px;
}

.description h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.description p {
  font-size: 20px;
  text-align: justify;
}

.more-desc {
  position: fixed;
  height: 600px;
  background: #1e1e1e;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.5s linear;
  z-index: 3;
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 100px 200px 30px 20px / 50px 20px 310px 50px;
}

.more-desc.active {
  transform: translateX(-50%) scale(1);
}

#aboutBlogCloserId {
  width: 60px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  outline: none;
  font-size: 49px;
  background: transparent;
  color: #748585;
  cursor: pointer;
}